* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
  
  #top {
    background: rgb(52, 0, 106);
    height: 35vh;
    position: relative;
    text-align: center;
    color: white;
    padding: 20px;
    font-weight: 400;
  }
  
  .budget {
    width: 700px;
    margin: 0 auto;
  }
  
  .budget-title {
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 16px;
    color: rgb(168, 130, 208);
    margin-top: 20px;
  }
  
  .budget-value {
    font-weight: 700;
    font-size: 46px;
    margin-bottom: 55px;
    letter-spacing: 2px;
  }
  
  .budget-summary {
    display: flex;
    margin-bottom: 30px;
  }
  
  .budget-income,
  .budget-expenses {
    flex: 1;
    text-transform: uppercase;
    color: rgb(168, 130, 208);
    font-size: 16px;
    font-weight: 300;
  }
  
  .budget-income-value,
  .budget-expenses-value {
    margin-top: 10px;
  }
  
  .budget-expenses-value {
    color: rgb(255, 80, 73);
  }
  
  .items-list {
    display: flex;
  }
  
  .items-list span:first-child {
    flex: 0 0 20%;
  }
  
  .items-list button {
    flex: 1;
  }
  
  .income-amount,
  .expenses-amount {
    flex: 0 0 70%;
    text-align: end;
  }
  
  #form {
    /* width: 100%; */
    background: rgb(247, 247, 247);
    min-height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(231, 231, 231);
  }
  
  #add-form {
    padding: 14px;
    margin: 0 auto;
  }
  
  .options,
  .add-description,
  .add-value,
  .add-btn {
    height: 35px;
    border-radius: 6px;
    border: 1px solid darkgrey;
  }
  
  .options:focus,
  .add-description:focus,
  .add-value:focus,
  .add-btn:focus {
    outline: none;
    border: 1px solid #28b9b5;
  }
  
  .options {
    width: 75px;
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    font-size: 14px;
    font-weight: 300;
    margin-right: 10px;
  }
  
  .add-description {
    width: 400px;
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    font-size: 1rem;
    margin-right: 10px;
    font-weight: 300;
  }
  
  .add-value {
    width: 75px;
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    font-size: 1rem;
    margin-right: 10px;
  }
  
  .add-btn {
    width: 55px;
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 200;
    color: #28b9b5;
    cursor: pointer;
    outline: none;
  }
  
  #bottom {
    display: flex;
    max-width: 1000px;
    padding-top: 20px;
    margin: 30px auto;
  }
  
  .bottom-left,
  .bottom-right {
    flex: 1;
    padding-left: 50px;
  }
  
  .title-1,
  .title-2 {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 400;
  }
  
  .title-1,
  .title-2 {
    margin-bottom: 20px;
  }
  
  .title-1 {
    color: lightseagreen;
  }
  
  .title-2 {
    color: rgb(255, 80, 73);
  }
  
  .list-group-1,
  .list-group-2 {
    width: 400px;
  }
  .list-group-1 div {
    margin-bottom: 30px;
  }
  
  .list-group-2 div {
    margin-bottom: 30px;
  }
  
  .income-amount,
  .expenses-amount {
    margin-right: 10px;
  }

  .items-list button{
    background: rgb(255, 80, 73);
    border-radius: 6px;
    cursor: pointer;
    font-weight: 100;
  }
  
  /* mobile responsive */
  @media (max-width: 830px) {
    * {
      font-weight: 100;
    }
  
    #top {
      height: 50vh;
    }
  
    .budget {
      width: 300px;
      text-align: center;
      margin: 0 auto;
    }
  
    .budget-title {
      margin-top: -5px;
      font-size: small;
    }
  
    .budget-value {
      margin-top: -3px;
    }
  
    .budget-summary {
      display: flex;
      flex-direction: column;
      margin-top: -35px;
    }
  
    .budget-income {
      margin-top: -10px;
    }
  
    .budget-income-value {
      margin-bottom: 10px;
    }
  
    #form {
      align-items: stretch;
      min-height: 30px;
    }
  
    #add-form {
      padding: 5px;
      margin: 0 auto;
      font-size: small;
    }
  
    .options,
    .add-description,
    .add-value,
    .add-btn {
      height: 40px;
    }
  
    .options {
      width: min-content;
      margin-left: -12px;
    }
  
    .add-description {
      width: 100px;
      margin-left: -5px;
    }
  
    .add-value {
      width: 35px;
      margin-left: -5px;
    }
  
    .add-btn {
      width: 38px;
      font-size: 12px;
      margin-left: -5px;
    }
  
    #bottom {
      display: flex;
      flex-direction: column;
    }
  
    .bottom-left,
    .bottom-right {
      flex-basis: 100px;
      margin-top: -10px;
      padding-left: 70px;
    }
  
    .list-group-1,
    .list-group-2 {
      width: 200px;
    }

    .income-amount,
  .expenses-amount {
    margin-right: 10px;
  }

  .items-list button{
    padding: 0px 3px 0px 3px;
    margin-left: -2px;
    font-size: 16px;
  }
  
  }